# Assignment 7 - [30 points]

## <u>Case Study 1</u>: Fashion MNIST Dataset Analysis Continued

In this analysis, we will continue our exploration of the same random sample of the "Fashion MNIST" dataset. *As a reminder, this dataset is comprised of 500 28-by-28 pixel images of fashion items. Each of the 784 image pixels is represented by a numerical gray scale value which can range from 0 (black) to 255 (white). Each object has an associated pre-assigned class label, which corresponds to the fashion item that the image is a picture of. The 10 types of fashion items included in this dataset are: Pullover, Sandal, Bag, Ankle boot, Coat, Shirt, T-shirt/top, Sneaker, Dress, and Trousers.*

### <u>Research Goals</u>:

In this analysis, we have the following research goals.

#### Statistically Rigorous Model Fitting
We would like to fit a statistically rigourous model to this dataset. Specifically, we will fit a Gaussian Mixture model to this dataset. We will assess whether this is a sensible mixture model to fit to this dataset with our t-SNE plots. Rather than fixing the number of clusters to k=10 (ie. the same as the number of fashion item labels in the dataset), we will explore clustering this dataset with different numbers of clusters. Ultimately, we would like for our clustering algorithm to identify the underlying clustering structure of the dataset. We will use our t-SNE plot to help validate this.

#### Generate New Fashion Item Images
In this analysis, suppose that we work at a fashion design company. Assume that the clothing item images happen to be some of the best selling items from the company. We would like to use our Gaussian mixture model to simulate the underlying random process that generates these best selling items to generate images of new items. The company may be able to use these images to inspire new ideas for other high selling fashion items.

<p>&nbsp;</p>
<table style="border: none;border-collapse: collapse;width:131pt;">
    <tbody>
        <tr>
            <td style="color:black;font-size:15px;font-weight:700;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:left;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;width:61pt;">Problem</td>
            <td style="color:black;font-size:15px;font-weight:700;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-left:none;width:70pt;">Points</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:left;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">1</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">0.25</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:left;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">2</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">0.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:left;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3.1.1.</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:left;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3.1.2.</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:left;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3.1.3.</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:left;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3.1.4.</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:left;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">2.1.</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:left;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">2.2.</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:left;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">2.3.</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:left;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3.1.</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:left;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3.2.</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:left;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3.3.</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:left;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">3.4.</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.25</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:left;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">4.1.</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:left;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">4.2.</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:left;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">4.3.</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:left;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">5.1.</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">3</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:left;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">5.2.</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">1.5</td>
        </tr>
        <tr>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:left;vertical-align:bottom;border:.5pt solid windowtext;height:14.25pt;border-top:none;">6</td>
            <td style="color:black;font-size:15px;font-weight:400;font-style:normal;text-decoration:none;font-family:Calibri, sans-serif;text-align:right;vertical-align:bottom;border:.5pt solid windowtext;border-top:none;border-left:none;">5</td>
        </tr>
    </tbody>
</table>


<hr style="height:1px;border:none;color:#333;background-color:#333;" />

### Imports

## 1. Data Preprocessing

**You have already done this in the previous assignment**.

This dataset does not have any missing values.

* Read the fashion_mnist_sample.csv into a dataframe.
* Create another dataframe that contains just the scaled numerical pixel attributes. You should scale these pixel attributes by dividing each of the values by 255.
* Create another dataframe that contains the scaled numerical variables and the fashion item class labels.

## 2. Clusterability

Display the t-SNE plot that you selected from the previous assignment. Color code the points by the fashion items labels.

## 3. Gaussian Mixture Models Parameter Selection

We would like to use Gaussian Mixture models to cluster this dataset. However, we are currently unsure as to how many clusters we should ask for.

### 3.1. Parsimonious Gaussian Mixture Model

We would first like to assess the number of clusters $k$ which will yield a parsimonious Gaussian mixture model for this dataset. 

#### 3.1.1. Reliability of AIC for Selecting a Parsimonious Model

For what values of the cluster number $k$ can we rely on the AIC score to produce useful insights regarding the the parsimonious model? In general, can we rely on the AIC score at all with this dataset?

#### 3.1.2. AIC and BIC Score Plots

Create two plots.
1. One plot should plot the AIC score of a Gaussian mixture model clustering with k=1, k=2, ..., k=20 clusters respectively.
2. The other plot should plot the BIC score of a Gaussian mixture model clustering with k=1, k=2, ..., k=20 clusters respectively.

Use a random state of 101 for all of these clusterings.

#### 3.1.3 Interpretation

Use the AIC score to select the number of clusters that will yield a parsimonious Gaussian mixture model. Use the BIC score to select the number of clusters that will yield a parsimonious Gaussian mixture model.

#### 3.1.4. Usefulness

Given that our goal is to determine the underlying clusters of this dataset, particularly those that the t-SNE plot is suggesting might exist, do we think that the cluster number $k$ suggested by the AIC or BIC score are useful?

### 3.2. t-SNE Plot and GMM with k=10 clusters

#### 3.2.1. Cluster the Data
Cluster the dataset into k=10 clusters using Gaussian mixture models. Use a random state of 101.

#### 3.2.2. t-SNE Plots

Then, plot k=10 t-SNE plots. In the kth plot, you should color-code the objects by their kth cluster membership weight (ie. their kth cluster posterior value).

#### 3.2.3. Visualize the Cluster Means

Finally, visualize the 10 cluster mean images below.

### 3.3. t-SNE Plot and GMM with k=12 clusters

#### 3.3.1. Cluster the Data
Cluster the dataset into k=12 clusters using Gaussian mixture models. Use a random state of 101.

#### 3.3.2. t-SNE Plots

Then, plot k=12 t-SNE plots. In the kth plot, you should color-code the objects by their kth cluster membership weight (ie. their kth cluster posterior value).

#### 3.3.3. Visualize the Cluster Means

Finally, visualize the 12 cluster mean images below.

### 3.4. Clustering Comparison

From our t-SNE plot that has been color coded by the fashion item labels, it looks like that there is a spherical cluster in the original dataset that is mostly separated from the rest of the other images and is almost exclusively comprised of trousers. Which of the two Gaussian mixture model clusterings from above (ie. the one with k=10 or the one with k=12 clusters) was better able to distinguish the trousers as a cluster by itself?

<hr>

### <u>Tutorial</u>: Mathematical Manipulation of Dataframes

We can apply mathematical operations to all of the values in a dataframe using the mathematical functions and operators we would use to perform the same operation to single values.

In [12]:
import pandas as pd
import numpy as np
tmp=pd.DataFrame({'x':[1,2,3], 'y': [4,5,6]})
tmp

   x  y
0  1  4
1  2  5
2  3  6

In [13]:
tmp**(1/2)

          x         y
0  1.000000  2.000000
1  1.414214  2.236068
2  1.732051  2.449490

In [14]:
tmp+1

   x  y
0  2  5
1  3  6
2  4  7

In [15]:
np.exp(tmp)

           x           y
0   2.718282   54.598150
1   7.389056  148.413159
2  20.085537  403.428793

There are many aggregation functions you can apply to a column or series in a dataframe.

In [16]:
tmp.sum()

x     6
y    15
dtype: int64

In [17]:
tmp.sum().max()

15

In [18]:
tmp.min()

x    1
y    4
dtype: int64

In [19]:
tmp.min().sum()

5

<hr>

## 4. Post-Cluster Analysis

Let's choose the Gaussian mixture model clustering with k=12 clusters as our final clustering.



### 4.1. Normalized Dunn's Partitioning Coefficient

Calculate the Normalized Dunn's partitioning coefficient for this fuzzy clustering. What does this value tell you about the fuzziness of your Gaussian mixture model clustering?

### 4.2. Average Silhouette Score

First, convert this Gaussian mixture model clustering result into a partitional clustering result. Each object should be assigned to one and only one cluster. Then calculate the average silhouette score of this partitional clustering.

### 4.3. Cohesion and Separation of Fashion Items

Next, find the silhouette score of each object in the dataset. Then, calculate the average silhouette score for each type of fashion item. Which of the 10 fashion items, on average, had the most amount of cluster cohesion (and well-separatedness from other clusters) in this clustering? Explain.

## 5. Simulating New Fashion Item Images

Finally, use your fitted Gaussian mixture model with k=12 clusters, to randomly generate 6 new fashion item images. 

### 5.1. Generating New Images
For each of these images, we will assume that they were generated using the same random process that created our original dataset. Display each of the resulting images. 

We will set the random seed of 101 below. Also, when generating each of the 6 points from their respective Gaussian distribution, you should set a random state of 101 as well within the corresponding random variable value generating function.

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.rv_continuous.rvs.html

First we randomly select which of the 12 Gaussian distributions (ie. clusters) that we would like to randomly generate a data point from.

In [ ]:
#Set the random seed 101 below
import numpy as np
np.random.seed(101)

### 5.2. Interpretation

Why do we think some of the images generated above are more clear and detailed than others?

## <u>Case Study 2</u>: Artificial Dataset - One Step of EM Algorithm

### 6. One Step of the EM Algorithm

We would like to cluster the data in the **artificial_small.csv** using Gaussian Mixture Model clustering using k=2 clusters (ie. Gaussian distributions).  However, we will only perform one iteration of the EM algorithm and we will do it "by hand". This dataset has only 6 objects. 

Suppose the EM algorithm has randomly initialized the following parameters.

**Cluster 0**:
* $\mu_0 = [1.3, 0.6]$
* $\Sigma_0 = [[0.25, 0],[0,0.25]]$
* $P(x\in C_0)=0.4$

**Cluster 1**:
* $\mu_1 = [1.8, 1.1]$
* $\Sigma_1 = [[0.5, 0],[0,0.5]]$
* $P(x\in C_1)=0.6$

Determine what the new **means** and **priors** will be in the next iteration of the algorithm for both clusters. Show your work. You can use Python functions and code for your calculations.